@page
@model SampleBlogPage.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" style="background-color:burlywood">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogPage[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPage[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPage[0].NewAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPage[0].PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
